{{!-- <form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>Workout:</label>
    <br>
    <input type="text" value="" name="name" id="name" placeholder="Exercise name"/>
    <input type="text" value="" name="muscle" id="muscle" placeholder="Muscle group"/>
  </p>
  <input type="submit" value="Create" />
</form> --}}
