<form action="/new" method="post" accept-charset="utf-8">
  <p>
    <label>Workout:</label>
    <br>
    <input type="text" id="goal" name="goal" id="name"/>
        <p>Author:</p>
    <select name="author">
        {{#each users }}
        <option>{{ email }}</option>
        {{/each}}
    </select>
  </p>
  <input type="submit" value="Create" />
</form>
