<form action="/new" method="post" accept-charset="utf-8">
  <p>
    <label>Workout:</label>
    <br>
    <input type="text" id="goal" name="goal" id="name"/>
  </p>
  <input type="submit" value="Create" />
</form>
