<p>Goal: {{ goal }}</p>

{{#if exercises}}
<p>Exercises</p>
{{/if}}

<form  method='POST' action='/workouts/{{ id }}?_method=DELETE'>
<button type='submit'>Delete Workout</button>
</form>

<a href='#'>Add exercise</a>

<form action='/workouts/{{ id }}?_method=PUT' method='POST'>
<input type='text' name='newGoal'/>
<button type='submit'>Edit Workout</button>
</form>