<p>Goal: {{ goal }}</p>

{{#if exercises}}
<h2>Exercises</h2>
        {{#each exercises }}
        <p>{{ name }}</p>
        {{/each}}
{{/if}}

<form  method='POST' action='/workouts/{{ id }}?_method=DELETE'>
<button type='submit'>Delete Workout jk i don't work</button>
</form>
<br>
<form action='/workouts/{{ id }}?_method=PUT' method='POST'>
<input type='text' name='name' placeholder='exercise'/>
<input type='text' name='muscle'placeholder='muscles'/>
<button type='submit'>New Exercise</button>
</form>

<a href='../'>Go back</a>