<p>Goal: {{ goal }}</p>

{{#if exercises}}
<p>Exercises</p>
{{/if}}
<a href="#">Delete Workout</a>
<a href='#'>Add exercise</a>
<form action='/workouts/{{ id }}' method='put'>
<input type='text' name='newGoal'/>
<button type='submit'>Edit Workout</button>
</form>