<div class='index-container'>
  <div class='button-container'>
  {{#if result}}
    <a class='nav-buttons' href="/logout" id='logout'>Logout</a>
  <a class='newWorkoutButton' href="/new">
    <div class='newWorkout'>
      <p>New</p>
    </div>
  </a>
  {{else}}
    <a class='nav-buttons' href="/login" id='login'>Login</a>
    <a class='nav-buttons' href="/signup" id='sign'>Signup</a>
  {{/if}}
  </div>

{{#if workout}}
  <h1>Let's get our pump on!</h1>
    <div class='workout-container'>
  {{#each workout}}
    <a href='/workouts/{{_id}}'>
      <div class='workout'>
        {{ goal }}
    </div>
    </a>
  {{/each}}
      </div>
  {{/if}}
</div>
