<!doctype html>
<html>
  <head>
    <title>Workout Wonder</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins:100" rel="stylesheet">
  </head>
  <body>
  <a href='/'>
  <div id='hero'>
  </div>
  </a>
   {{{body}}}
  </body>
  <div class='footer'>
    <footer>
    <a href='https://www.linkedin.com/in/jefferson-duong/' target='_blank'>
    <div class='footer-icon' id='linkedin'></div>
    </a>

    <a href='https://github.com/zukululu' target='_blank'>
    <div class='footer-icon'id='github'></div>
    </a>
    </footer>
  </div>
</html>
