<!doctype html>
<html>
  <head>
    <title>Workout Wonder</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins:100" rel="stylesheet">
  </head>
  <body>
  <a href='/'>
  <div id='hero'>
  </div>
  </a>
   {{{body}}}
  </body>
  <div class='footer'>
    <footer>
    <a href='#'>Insta</a>
    <a href='#'>Linked</a>
    <a href='#'>Git</a>
    </footer>
  </div>
</html>
